/*
 * a custom css page
 * specificially for the
 * index.html page and
 * the 404.html page
 * exclusively. just a
 * couple gimmicks,
 * honestly.
 * oh yeah, and also for
 * ohm.html as well.
 */
@keyframes aaa {
  /* just some keyframes. */
  from {background: rgba(0, 0, 0, 1);}
  to   {background: rgba(0, 0, 0, 0);
        z-index: -10;
        height: 1%;
        width: 1%;}
}

div.start {
  /* 
   * a black div which covers
   * the entire page
   * upon intially visiting
   * and then fading away.
   */
  width: 100%;
  height: 100%;
  position: fixed;
  align: center;
  background: rgba(0, 0, 0, 1);
  top: 0;
  left: 0;
  z-index: 100;
  animation: aaa 2s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
h1.largee {
  /* just for really large font
   * and nothing else, really. */
  font-size: 200px;
}
/*
 * the next three ids are specifically
 * for the page ohm.html, which is a 
 * demonstration of ohm's law and how
 * each variable is proportional to
 * the others in the equation.
 */
#ohm1, #ohm2, #ohm3 {
  display: inline-block;
}
#ohm1 div:hover:after {
  /* for the page ohm.html
   * (this particular id
   * will only be used for
   * the letter "V" in "V=IR".)
   */
  content: " \A Directly proportional to current and resistance (increases when they increase).";
}
#ohm2 div:hover:after {
  /* see previous comment. */
  content: " \A Directly proportional to voltage (increases when V increases) and inversely proportional to resistance (decreases when R increases).";
}
#ohm3 div:hover:after {
  /* once again, see comment on #ohm1. */
  content: " \A Directly proportional to voltage (increases when V increases) and inversely proportional to current (decreases when I increases).";
}
