* {font-family: Courier New;}
h1, h2, h3, p {
  background-color: rgb(221, 221, 221);
}
body { 
  background-image: url("bg.jpg");
  background-color: #eeeeee;
  background-repeat: round;
}
.imgholder {
  /* class for <div>s that hold images */
  background-color: rgb(240, 240, 240);
  border: 7px solid rgb(240, 240, 240);
}
