* {font-family: Courier New;}
h1, h2, h3 {
  background-color: rgb(221, 221, 221);
}
body { 
  background-color: #eeeeee;
  background-image: url("bg.jpg");
  background-repeat: round;
  background-attachment: fixed;
}
div.imgholder {
  /* class for <div>s that hold images */
  background-color: rgb(235, 235, 235);
  border: 10px solid rgb(221, 221, 221);
  align-content: center;
}
@keyframes uponclick {
  0%   {border-color: rgb(221, 221, 221);}
  100% {border-color: #000000;}
}
p {
  background-color: #fbfbfb;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(221, 221, 221);
}
p:hover {
  animation-name: uponclick;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
