* {font-family: Courier New;}
h1, h2, h3, p {
  background-color: rgba(221, 221, 221, 0.9);
}
body { 
  background-image: url("bg.jpg");
  background-color: #eeeeee;
  background-repeat: round;
}
.imgholder {
  /* class for <div>s that hold images */
  background-color: rgba(240, 240, 240, 1);
  border: 7px solid rgba(240, 240, 240, 1);
}
